html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #f9ece1;
  animation: fadeIn 3.0s;
}

.word {
  position: absolute;
  top: 38%;
  left: 41.3%;
  font-family: 'Cabin Sketch', cursive;
  font-size: 22px;
  font-style: black;
  text-align: center;
}
,
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bar {
  width: 35%;
  height: 25px;
  position: absolute;
  top: 45%;
  left: 33%;
  display: block;
  padding: 5px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
}

.bar span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  background-color: #f56982;
  background-size: 100%;
  animation: progress 2.8s forwards ease-in;
}

@keyframes progress {
  0% {width: 0%;}
  100% {width: 100%;}
}

#heart {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 39%;
  left: 69%;
  display: none;
  transition: transform 1.0s ease;
}

#heart:hover {
  transform: scale(1.5);
  cursor:url("../images/smile.png"), auto;
}
