html,body {
  height: 100%;
  margin: 0;
}

#bulb {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 17%;
  left: 17%;
  display: none;
  animation: changeSize infinite 1s;
}

body {
  animation: fadeIn 1.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes changeSize {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.8);
  }
}

#bulb:hover {
  cursor:url("../images/smile.png"), auto;
}
